@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-Thin.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-ThinItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-ExtraLight.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-Light.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-LightItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-Regular.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-RegularItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-Medium.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-MediumItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-SemiBold.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-Bold.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-BoldItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-ExtraBold.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-Black.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText/FixelText-BlackItalic.woff2') format('woff2'),
  url('../fonts/FixelText/FixelText-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}